<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user_info</title>
    <script type="text/javascript" src="../static/jquery.js"></script>
    <script src="../static/layui/layui.js"></script>
<link rel="stylesheet" href="../static/layui/css/layui.css">
<style>
  #colorlist{
    background-color:white;
    color:black;
    font-size: 20px;
    font-style: unset;
  }
</style>
</head>
<body>
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item" id="thumb"><a href="javascript:;">最新活动</a></li>
        
        <li id="dropdown1" class="layui-nav-item "lay-dropdown="{menus: [{layIcon:'layui-icon-username',txt: '个人中心', event:'usercenter'}, 
        {layIcon: 'layui-icon-set',txt: '事件格', event:'somthing'},
         {layIcon: 'layui-icon-logout', txt: '退出登录', event:'loginout'}]}">dropdown模块</li>
          
        <li  id="dropdown2" class="layui-nav-item"lay-dropdown="{template: '#custMenu'}">
          <a href="javascript:;">下拉框</a>
        </li>
        <li class="layui-nav-item"><a href="">社区</a></li>
      </ul>
      <div class="container-fluid" style="margin:0;padding:0;">
      <iframe id="content" width="100%" height="600"scrolling='no'style="display: block;widows: 100%;border: none;"src=''></iframe>
      </div>

      <script id="custMenu" type="text/html">
       <li> <dl>
            <dd ><button id="colorlist">移动模块</button></dd>
            <dd><button id="colorlist">后台模版</button></dd>
          </dl></li>
         
      </script>
       
      <script>
        layui.config({
          base:'../static/layui/ext/dropdown/'
        }).use(['dropdown']),function(){
          var dropdown =layui.dropdown;

        }
      layui.use('element', function(){
        var element = layui.element;
     
      });
      $("#thumb").click(function(){
          $("#content").attr('src', "/thumbnail");
          })
      </script>
</body>
</html>