<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thumbnail</title>
    <script type="text/javascript" src="../static/jquery.js"></script>
    <script type="text/javascript"  src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <style>
    .card-img-top{
        height: 300px;
        width: 500px;
    }
    </style>
</head>
<body>
    <div><h2 color='yellow'>#iframe1</h2>
    <div class="card-group">
      <div class="card" style="width: 18rem;">
        <img src="/templates/img/some1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">尘埃落定！香港立法会内委会主席投票结果出炉：李慧琼当选</h5>
          <p class="card-text">【海外网5月18日综合报道】在反对派立法会议员郭荣铿等人的故意拖延下，香港立法会内务委员会主席选举耗时6个多月、17次会议仍未完成。香港立法会内务委员会5月18日再次举行主席选举，李慧琼以40票当选香港立法会内会主席。</p>
          <a href="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_8505793734297680791%22%7D&n_type=0&p_from=1" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="img/some2.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">若美国和中国断绝一切联系，谁受的伤害更大？</h5>
          <p class="card-text">1.中国会受到很多掣肘：西方会跟着美国制裁中国，与世界的贸易短时间会受到影响；美国以中国为敌，各种围堵上场，海运通道可能会被扰乱，中国军事抗争压力增大</p>
          <a href="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_8848855612964951255%22%7D&n_type=1&p_from=4" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="img/some3.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">德国野心终于藏不住了，多次拒绝美国，转头拥抱俄罗斯</h5>
          <p class="card-text">二战结束之后，德国就成为了美国众多盟友中的一个，不过最近这些年来，德国的野心越来越大，越来越不甘愿做一个跟随者，于是德国开始在很多问题上拒绝美国，重新找准自己的定位，增强自己的话语权。</p>
          <a href="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_10227119113894984025%22%7D&n_type=1&p_from=4" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
</div>
</body>
</html>